/* Utiles styles*/
@import "./utils/vars";
@import "./utils/normalize";
@import "./utils/reset";
@import "./utils/visially-hidden";
/* component style files*/
@import "./components/body";
@import "./components/header";
@import "./components/logo";
@import "./components/hero";
@import "./components/btn";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/register-form";
@import "./components/main-section";
@import "./components/features";
@import "./components/socials-link";
@import "./components/section-team";
@import "./components/section-clients";
@import "./components/footer";
@import "./components/footer-form";
@import "./components/portfolio";
@import "./components/menu-button";

