
.section .feature__text {
    line-height: calc(24 / 14);
    color: var(--grey-text-color);
  }
  
  .feature__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: var(--grey-background-color);

    @media screen and (max-width: 480px) {
      width: 450px;
    }
  
    @media screen and (min-width: 768px) {
      width: 354px;
    }
  }
  
  .feature__list {
    display: flex;

    @media screen and (min-width: 480px) {
      display: inline-block;
    }
  }
  
  .feature__list .feature__item + .feature__item {
    margin-left: 30px;

    @media screen and (min-width: 480px) {
      margin-left: 0;
    }

  }

  .title {
    @media screen and (min-width: 480px){
      text-align: center;
    }
  }
  
    