.section .feature__text {
  line-height: calc(24 / 14);
  color: var(--grey-text-color);
}

.feature__svg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--grey-background-color);
}

.feature__list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    margin: -15px;
  }
}

.title {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    text-align: center;
  }
}

.feature__item {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 100%;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}
.feature__list .feature__item + .feature__item {
  margin-left: 30px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 30px;
    margin-left: 0;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}
