
.section .feature__text {
    line-height: calc(24 / 14);
    color: var(--grey-text-color);
  }
  
  .feature__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: var(--grey-background-color);

  }
  
  .feature__list {
    display: flex;
  
}


  
  .feature__list .feature__item + .feature__item {
    margin-left: 30px;

  }


  
    