.footer__form-button {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 12px;
  }
  
  .footer__button-submit {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    gap: 10px;
    justify-content: center;
  }
  
  .footer__form-icon {
    fill: var(--white-text-color);
  }
  
  .footer__container-form {
    margin-left: auto;
  }
  
  .footer__form-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--dark-background-color);
    padding-left: 16px;
    box-sizing: border-box;
    color: var(--accent-background-color);
  }