.section .title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section__title-list {
  gap: 30px;
}

.section__work-item {
  position: relative;
}

.section__overlay-desc {
  font-weight: 700;

  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--white-text-color);
  position: absolute;

  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.container-top {
  padding-top: 0;
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    display: none;
  }
}

.section__title-list {
  display: flex;
  flex-wrap: wrap;
}
