
.team {
  display: flex;
  gap: 30px;
}

.section-title-team {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  
  .team .team__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  
  .team__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .team__text {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
  
    color: var(--secondary-text-color);
  }
  
  .team__our {
    background: var(--grey-background-color);
  }
  
  .team__item {
    background-color: var(--accent-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }