.clients__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .clients__item {
    width: 170px;
    height: 92px;
  }
  
  .clients__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--icon-color);
    width: 100%;
    height: 100%;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .clients__link:hover,
  .clients__link:focus {
    color: var(--accent-text-color);
    border-color: var(--accent-text-color);
  }
  
  .clients__svg-logo {
    fill: currentColor;
  }
  
  .clients__list .clients__item + .clients__item {
    margin-left: 30px;
  }