/* blok 1*/

:root {
    /* Fonts */
  
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
  
    /* Text colors */
    --main-text-color: #212121;
    --accent-text-color: #2196f3;
    --secondary-text-color: #757575;
    --black-text-color: #000000;
    --white-text-color: #ffffff;
    --grey-text-color: #757575;
    --rgba-text-color: rgba(255, 255, 255, 0.6);
    /* Background colors */
    --accent-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --grey-background-color: #f5f4fa;
    --dark-background-color: #2f303a;
    --border-color: #ececec;
    --button-active: #188ce8;
    --icon-color: #afb1b8;
    --footer-bc-icon-color: rgba(255, 255, 255, 0.1);
    /*Animation*/
    --animation: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --animation-2: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

